#About {
  background: var(--background-color);
}
#About .text_box {
  height: max-content;
  display: flex;
  text-align: justify;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  word-spacing: normal;
  padding: clamp(6rem, 5vw, 8rem) clamp(2rem, 10vw, 10rem);
  font-size: 1rem;
}

#About .text_box .container {
  padding: 0px;
  width: 59%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
#About .text_box .container p {
  width: 70%;
  text-align: justify;
  margin-bottom: 10px;
}

.text_box strong {
  color: var(--pop-color);
  margin-left: 4px;
}
.text_box a {
  text-decoration: none;
}
.text_box .subheading {
  font-size: 6rem;
  color: var(--pop-color);
}

#About .heading {
  color: var(--heading-color);
  font-size: clamp(4rem, 8vw, 10rem);
  font-family: var(--heading-font-family);
  letter-spacing: 0.3rem;
  text-align: left;
  position: relative;
  margin-bottom: 0.5rem;
}
#About .heading::before {
  content: attr(data-outline);
  position: absolute;
  left: 2%;
  top: -20%;
  width: 100%;
  text-align: left;
  letter-spacing: 0.4rem;
  font-family: var(--heading-font-family);
  letter-spacing: 0.2rem;
  color: transparent;
  -webkit-text-stroke: 1.5px var(--shadow-color);
  z-index: 0;
}

#Skills {
  width: 41%;
}

.skill-div {
  height: max-content;
  background: var(--background-color);
  color: var(--font-color);
  text-align: center;
  word-spacing: normal;
}

#Skills .container {
  padding: 8%;
  margin-inline-end: 10rem;
}

#Skills .content {
  width: max-content;
  margin-left: auto;
  margin-bottom: 0.5rem;
}

#Skills .content .skill {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5vw;
  height: 3.5vw;
  background: var(--skill-background-color);
  border: 1.5px solid var(--heading-color);
  border-radius: 50px;
  margin: 0.5rem 0.2rem;
  color: var(--heading-color);
  cursor: pointer;
  font-size: 2rem;
  overflow: hidden;
}

#Skills .content .sub-skill-heading {
  font-size: 1rem;
  font-family: "Amatic SC";
  text-align: right;
  position: relative;
  margin-bottom: 0.5rem;
  color: gray;
  -webkit-text-stroke: 1.5px var(--shadow-color);
  letter-spacing: 2px;
}

#Skills .content .skill p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

#Skills .content .skill:hover {
  background-color: rgba(255, 255, 255, 0.124);
}
/* desktops */
@media (min-width: 1025px) {
  /* Your CSS rules here */
}
/* tablets */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Your CSS rules here */
}
/* mobile phones */
@media (max-width: 768px) {
  #About .text_box {
    font-size: 0.8rem;
  }
  .skill-div {
    padding: 0px;
    margin-top: 2rem;
  }
  #Skills .content {
    margin-left: 0px;
  }
  #Skills .content .sub-skill-heading {
    text-align: left;
  }
  #Skills .content .skill {
    height: 40px;
    width: 40px;
    font-size: 1.4rem;
  }
  #About .text_box .container {
    width: auto;
  }
  #About .text_box .container p {
    width: auto;
  }
}
