#Contact {
  background-image: url(https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
  background: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% 40%;
}

#Contact .container-fluid {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#Contact .container {
  height: 35vh;
  padding: 0;
  gap: 1rem;
  flex-grow: 1;
}
#Contact .text-gray {
  color: rgb(128, 124, 124) !important;
}
.text {
  width: 50%;
  font-size: 0.75em;
  font-family: var(--heading-font-family);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  line-height: 1;
  padding: 2%;
}
.text h1 {
  font-family: "caveat";
  font-size: 4em;
  text-align: left;
}
.text .quote {
  font-size: 2.5em;
}

.text a {
  font-size: 3em;
  color: var(--pop-color);
  text-decoration: none;
  text-shadow: 2px 2px var(--second-pop-color);
}

.text a:hover {
  text-decoration: underline;
}

.social_handles {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 50%;
  font-family: "Caveat";
  font-size: 0.75em;
  letter-spacing: 0.5px;
  padding: 2%;
}

.social_handles h1 {
  font-size: 2.5em;
}

.social_link {
  font-size: 2.5em;
}

.social_link a {
  text-shadow: 2px 2px var(--second-pop-color);
  text-decoration: none;
  color: var(--pop-color);
}

.social_link a:hover {
  text-decoration: underline;
}

.bottom_text {
  width: 80%;
  display: flex;
  font-family: "Caveat";
  font-size: 1.4rem;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  margin: auto;
}

.bottom_text p i{
  font-size: 1rem;
}

/* desktops */
@media (min-width: 1025px) {
  /* Your CSS rules here */
}
/* tablets */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Your CSS rules here */
}

.bottom_hr {
  margin: 1rem 5%;
}

/* mobile phones */
@media (max-width: 768px) {
  .text {
    width: 100%;
  }
  
  .social_handles {
    width: 100%;
  }
  #Contact .container {
    height: max-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bottom_text {
    width: 100%;
    font-size: 1em;
      margin-bottom: 1rem;
  }
  .fixed-button {
    bottom: 5px !important;
    font-size: 1.2rem !important;
    padding: 0px !important;
  }
  .theme-button {
    right: 10px !important;
  }
}
