#Contact {
  background-image: url(https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
  background: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% 40%;
}

#Contact .container-fluid {
  padding: 1rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#Contact .container {
  height: 35vh;
  padding: 0;
  gap: 1rem;
  margin-block-end: 2rem;
  flex-grow: 1;
}
.text {
  width: 50%;
  font-size: 1rem;
  font-family: var(--heading-font-family);
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
  padding: 10%;
}
.text h1 {
  font-size: 4em;
}
.text .quote {
  font-size: 2.5em;
}

.text a {
  font-size: 4em;
  padding: 5px;
  color: var(--pop-color);
  text-decoration: none;
  text-shadow: 2px 2px var(--second-pop-color);
}

.text a:hover {
  text-decoration: underline;
}

.social_handles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  font-family: "Caveat";
  font-size: 2rem;
  letter-spacing: 2px;
}

.social_link a {
  text-shadow: 2px 2px var(--second-pop-color);
  text-decoration: none;
  color: var(--pop-color);
}

.social_link a:hover {
  text-decoration: underline;
}

.bottom_text {
  width: 80%;
  display: flex;
  font-family: "Caveat";
  font-size: 1.4rem;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  margin: auto;
}

/* desktops */
@media (min-width: 1025px) {
  /* Your CSS rules here */
}
/* tablets */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Your CSS rules here */
  .text {
    font-size: 0.7rem;
  }
  .social_handles {
    font-size: 1.5rem;
  }
}
/* mobile phones */
@media (max-width: 768px) {
  #Contact {
    font-size: 5px;
  }
  .text {
    width: 100%;
    font-size: 5em;
  }
  .text h1,
  .text a {
    font-size: 2em;
  }
  .text .quote {
    font-size: 1.5rem;
  }
  .social_handles {
    width: 100%;
    font-size: 4em;
  }
  #Contact .container {
    height: max-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bottom_text {
    width: 100%;
    font-size: 3em;
  }
  .bottom_text p {
    margin-bottom: 0px;
  }
  .fixed-button {
    bottom: 5px !important;
    font-size: 1.2rem !important;
    padding: 0px !important;
  }
  .theme-button {
    right: 10px !important;
  }
}
