#Header {
  background: var(--header-background-color);
  background-size: 100% 100%;
}

#Header .container-fluid {
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: end;
  padding: clamp(6rem, 5vw, 8rem) clamp(2rem, 10vw, 10rem);
  padding-block-end: 2%;
  text-align: left;
  line-height: 1;
  flex-direction: column;
}

.pop_up_image {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
.profile_pic {
  height: 35vh;
  border-radius: 100%;
  border: 2px solid white;
}
.greetings {
  font-size: 1.5em;
  font-family: "caveat", "Noto Sans Bengali", "Noto Serif Devanagari",
    "Noto Serif JP", "Noto Serif KR";
  color: var(--pop-color);
  text-shadow: 2px 2px var(--second-pop-color);
}

.starting_text {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-family: "caveat";
  color: transparent;
  -webkit-text-stroke: 1px var(--pop-color);
  text-shadow: 2px 2px var(--second-pop-color);
  animation: animate 2s ease-in-out infinite;
  -webkit-animation: animate 2s ease-in-out infinite;
}

.starting_text h2 {
  font-size: clamp(4.5em, 10vw, 5.2em);
}

.header_link_container {
  width: max-content;
  gap: 1rem;
  font-family: "caveat";
  font-size: 1rem;
}

.header_link_container .social_link {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: clamp(1.5em, 5vw, 2.2em);
}

.short_intro {
  font-size: clamp(1em, 5vw, 2.4em);
  word-spacing: 5px;
  font-family: var(--heading-font-family);
}
.short_intro strong {
  color: var(--pop-color);
}

.scroller_div {
  position: absolute;
  bottom: 5%;
  left: 1%;
  display: flex;
  font-family: "Amatic SC";
  flex-direction: column;
  align-items: center;
  margin-inline-end: 5px;
}

.scroll_anchor {
  text-decoration: none;
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 1.5rem;
  font-weight: bolder;
  letter-spacing: -5px;
  margin-bottom: 10px;
}

.scroller_animation {
  position: relative;
  animation: change 1s ease-in-out infinite;
  -webkit-animation: change 1s ease-in-out infinite;
}

@keyframes change {
  0% {
    top: 0px;
  }
  50% {
    top: 8px;
  }
  100% {
    top: 0px;
  }
}

/* desktops */
@media (min-width: 1025px) {
  /* Your CSS rules here */
}
/* tablets */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Your CSS rules here */
}
/* mobile phones */
@media (max-width: 768px) {
  :root {
    --header-background-color: linear-gradient(
      13deg,
      #0f0e0e 57%,
      rgba(148, 44, 31, 0.784) 99%
    );
  }

  #Header .container-fluid {
    padding: 15% 5%;
  }
  .greetings {
    padding-left: 0px;
  }
  .starting_text {
    flex-direction: column;
    position: relative;
    height: 11rem;
  }

  .starting_text h2 {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0px;
  }

  .starting_text h2:nth-child(2) {
    margin-top: 40px;
  }
  .starting_text h2:nth-child(3) {
    margin-top: 80px;
  }

  .header_link_container {
    flex-direction: column;
  }
  .header_link_container .social_link {
    gap: 0px;
  }
  .scroller_div {
    display: none;
  }
  .header_link_container .social_link {
    display: flex;
    flex-direction: row;
    gap: 0.5rem !important;
    font-size: clamp(1.5em, 5vw, 2.2em);
  }
}
