/* Header Section */
#Header {
  background: var(--header-background-color);
  background-size: 100% 100%;
  /* -webkit-animation: animate 25s linear infinite;
  animation: animate 25s linear infinite; */
}

/* @keyframes animate {
  0% {
    background-position: 90% 90%;
  }
  50% {
    background-position: 30% 20%;
  }
  100% {
    background-position: 90% 90%;
  }
} */

#Header .container-fluid {
  height: 100vh;
  display: inline-block;
  padding-top: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  text-align: center;
  line-height: 1;
  flex-direction: column;
}

.img-1 {
  margin-top: 0%;
  margin-bottom: 1rem;
}
.profile_pic {
  height: 25vh;
  border-radius: 100%;
  border: 4px solid var(--pop-color);
}
.greetings {
  font-size: 2vw;
  font-family: "sacramento";
  color: var(--pop-color);
}
.name_text {
  position: relative;
  font-family: "sacramento", sans-serif;
  font-size: 5vw;
  color: var(--pop-color);
  font-weight: bold;
  animation: fade 2s ease-in forwards;
}
/* !check */
@keyframes fade {
  0% {
    opacity: 5%;
  }
  100% {
    opacity: 100%;
  }
}
.header_button_container {
  width: 12vw;
}

.header_button_container .btn {
  border-radius: 25px;
  border-color: var(--pop-color);
  color: var(--pop-color);
  background: transparent;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.header_button_container .btn:hover{
  color: white;
  background: red;
}

.short_intro {
  font-size: clamp(1.2rem, 2vw, 1.3rem);
  word-spacing: 5px;
  color: var(--font-color);
  font-family: "Ubuntu", "sacramento", monospace, sans-serif;
}

.short_intro strong {
  color: rgba(148, 44, 31, 0.784);
}

/* Hader section end */
