/* Header Section */
#Header {
  background: var(--header-background-color);
  background-size: 100% 100%;
  /* -webkit-animation: animate 25s linear infinite;
  animation: animate 25s linear infinite; */
}

/* @keyframes animate {
  0% {
    background-position: 90% 90%;
  }
  50% {
    background-position: 30% 20%;
  }
  100% {
    background-position: 90% 90%;
  }
} */

#Header .container-fluid {
  height: 100vh;
  display: flex;
  justify-content: end;
  padding: 5% 5%;
  text-align: left;
  line-height: 1;
  flex-direction: column;
}

.img-1 {
  margin-top: 0%;
  margin-bottom: 1rem;
  display: none;
}
.profile_pic {
  height: 25vh;
  border-radius: 100%;
  border: 4px solid var(--pop-color);
}
.greetings {
  font-size: 2vw;
  font-family: "caveat";
  color: var(--pop-color);
  padding-left: 1rem;
}

.starting_text {
  position: relative;
  font-family: "caveat";
  font-size: 7vw;
  color: transparent;
  -webkit-text-stroke: 1.5px var(--pop-color);
  font-weight: bold;
  animation: fade 2s ease-in forwards;
}

/* !check */
/* @keyframes fade {
  0% {
    opacity: 5%;
  }
  100% {
    opacity: 100%;
  }
} */
.header_button_container {
  width: 12vw;
  gap: 5%;
}

.header_button_container .btn {
  border-radius: 50%;
  border-color: var(--pop-color);
  color: var(--pop-color);
  background: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.header_button_container .btn:hover {
  color: white;
  background: red;
}

.short_intro {
  font-size: clamp(1.5rem, 3vw, 5rem);
  word-spacing: 5px;
  color: var(--font-color);
  font-family: var(--heading-font-family);
}
.short_intro strong {
  color: red;
}

/* Hader section end */
