/* Navbar */

.navbar {
  margin: 0% 5%;
  background: rgba(16, 16, 16, 0.3);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px) !important;
  border: 2px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0px;
  font-family: "caveat";
  font-size: 2rem;
}

.navbar-nav {
  margin-left: auto;
}

a.navbar-brand {
  margin-right: 0px;
}
.navbar-brand .resize {
  border: 2px solid white;
  height: 40px;
  width: 40px;
  margin: 0px;
  border-radius: 50%;
}
.nav-link {
  text-shadow: 2px 2px var(--second-pop-color);
  color: var(--font-color);
  font-weight: bold;
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: var(--pop-color);
}
.nav-item :hover {
  color: var(--pop-color);
  text-decoration: underline;
}
.nav-link.active:hover {
  text-decoration: none;
}
.navbar-toggler {
  color: var(--pop-color);
  background: transparent;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

/* desktops */
@media (min-width: 1025px) {
  /* Your CSS rules here */
}
/* tablets */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Your CSS rules here */
}
/* mobile phones */
@media (max-width: 768px) {
  /* Your CSS rules here */
  .navbar {
    /* display: none; */
    margin: 0% 2%;
  }
}
