/* Project Section */
#Projects .container-fluid {
  height: max-content;
  text-align: center;
  word-spacing: normal;
  padding: clamp(6rem, 5vw, 8rem) clamp(2rem, 10vw, 10rem);
  margin-left: 0%;
  background: var(--background-color);
}

#Projects .heading {
  color: var(--heading-color);
  font-size: clamp(4rem, 8vw, 10rem);
  font-family: var(--heading-font-family);
  letter-spacing: 0.3rem;
  text-align: center;
  position: relative;
  margin-bottom: clamp(4rem, 4vh, 8rem);
}

#Projects .heading::before {
  content: attr(data-outline);
  position: absolute;
  left: 2%;
  top: -20%;
  width: 100%;
  text-align: center;
  font-family: var(--heading-font-family);
  letter-spacing: 0.4rem;
  color: transparent;
  -webkit-text-stroke: 1.5px var(--shadow-color);
}

#Projects p {
  color: var(--font-color);
}

.container-grid {
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-items: center;
}

.p_div {
  background: linear-gradient(13deg, black 70%, var(--second-pop-color));
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 5px white;
  border-radius: 10px 10px 10px 30px;
  border: 2px solid black;
}

.p_div:hover {
  background: black;
  border: 2px solid red;
}

.p_div:hover .p_heading {
  color: var(--second-pop-color);
}

.p_div .p_heading {
  font-size: 3rem;
  font-weight: bolder;
  font-family: "Amatic SC", cursive;
  text-transform: uppercase;
  text-align: left;
  word-break: break-all;
}

.p_div .p_heading strong {
  font-size: 1.4rem;
}

.p_div .p_text {
  padding-right: 4rem;
  text-align: left;
  font-size: 1rem;
}

.p_div .inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.p_div .skill-container {
  position: absolute;
  bottom: 2%;
  right: -2%;
  font-size: 1.5rem;
  gap: 0.5rem;
  flex-direction: column;
}

/* .fullview_container .fullview-skill-container {
  position: absolute;
  bottom: 2%;
  right: -2%;
  gap: 0.5rem;
  flex-direction: column;
  text-shadow: 2px 2px 1px var(--second-pop-color);
} */

.p_div .skill-container .p_skill {
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  padding: 10px;
  background: black;
  box-shadow: 2px 2px 2px black;
}

/* .fullview_container .fullview-skill-container .fullview_skill {
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  padding: 20px;
  background: black;
  box-shadow: 2px 2px 2px black;
  font-size: 2.5rem;
} */

.p_div .skill-container .p_skill:hover {
  border: 2px solid var(--second-pop-color);
  color: var(--second-pop-color);
}

.p_div .p_button_container {
  gap: 0.5rem;
  bottom: 2%;
}

.p_div .p_button_container .btn {
  border-radius: 50px;
  color: white;
  font-weight: bolder;
  background: black;
  border: 2px solid white;
  box-shadow: 2px 2px 2px black;
}

.p_div .p_button_container .btn:hover {
  color: white;
  font-weight: bolder;
  background: black;
  border: 2px solid white;
  box-shadow: 2px 2px 2px black;
}

.p_div .p_button_container .btn:hover {
  border-color: var(--second-pop-color);
  color: var(--second-pop-color);
}

/* .fullview_container {
  display: none;
  position: fixed;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: #000000ee;
  backdrop-filter: blur(5px);
  z-index: 99;
  padding: 5rem;
  border: 2px solid white;
  border-radius: 10px;
}
.fullviewbtn {
  height: max-content;
  width: max-content;
  padding: 5px;
  border: none;
  margin: 10px;
  font-size: 1.5rem;
  text-shadow: 1px 1px 5px black;
}
.fullviewbtn:hover {
  background: transparent;
  color: var(--second-pop-color) !important;
}

.closeviewbtn {
  position: absolute;
  top: 0%;
  right: 0%;
  padding: 10px;
  background: transparent;
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px 2px var(--second-pop-color);
}
.closeviewbtn:hover {
  border: none;
} */

/* .fullview_heading {
  font-size: clamp(4rem, 8vw, 10rem);
  color: transparent;
  -webkit-text-stroke: 3px rgba(91, 85, 85, 0.741);
  text-transform: uppercase;
  font-family: "Amatic SC", cursive;
  letter-spacing: 0.3rem;
  text-align: left;
}
.fullview_text {
  padding: 2rem;
  text-align: left;
}

.fullview_button_container {
  gap: 1rem;
}
.fullview_img_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullview_img_div img {
  height: 70%;
  border: 2px solid white;
} */

/* desktops */
@media (min-width: 1025px) {
  /* Your CSS rules here */
  .container-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/* tablets */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Your CSS rules here */
}
/* mobile phones */
@media (max-width: 768px) {
  .container-grid {
    grid-template-columns: 1fr;
  }

  .p_div {
    width: auto;
  }

  .p_div .p_heading {
    font-size: 2rem;
  }

  .p_div .p_text {
    font-size: 0.8rem;
    padding-right: 3rem;
  }
  /* .fullview_container {
    padding: 0%;
  }
  .fullview_inner_container {
    flex-direction: column-reverse;
  }
  .fullview_inner_container .fullview_img_div {
    height: 40%;
  }
  .fullview_container .fullview-skill-container .fullview_skill {
    font-size: 1.5rem;
    padding: 10px;
  } */
}
