.skill-div {
  height: max-content;
  background: var(--inverse-background-color);
  color: var(--inverse-font-color);
  text-align: center;
  word-spacing: normal;
  padding: 2rem 10rem 8rem;
}
#Skills .heading {
  font-size: 5rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.3rem;
  text-align: right;
  position: relative;
  margin-bottom: 2rem;
  color: var(--heading-color);
}
#Skills .heading::before {
  content: attr(data-outline);
  position: absolute;
  width: 100%;
  left: 2%;
  top: -20%;
  text-align: right;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  font-family: "Montserrat";
  letter-spacing: 0.2rem;
  color: transparent;
  -webkit-text-stroke: 1.5px var(--shadow-color);
  z-index: 0;
}

#Skills .container {
  padding: 8%;
}

#Skills .content {
  width: max-content;
  margin-left: auto;
  margin-bottom: 2rem;
}

#Skills .content .skill {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: var(--skill-background-color);
  border: 2px solid var(--background-color);
  border-radius: 50px;
  text-align: center;
  margin: 0.5rem 0.2rem;
  color: var(--heading-color);
  cursor: pointer;
  font-size: 2rem;
  border: 0.2vw solid var(--heading-color);
  overflow: hidden;
}

#Skills .content .sub-skill-heading {
  font-size: clamp(2rem, 3vw, 5rem);
  text-transform: uppercase;
  font-family: "Caveat", cursive;
  text-align: right;
  position: relative;
  margin-bottom: 0.5rem;
  color: transparent;
  -webkit-text-stroke: 1.5px var(--shadow-color);
  letter-spacing: 5px;
}

#Skills .content .skill p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
