@import "./styles.css";
/* Scroller Effect */
:root {
  --_animation-duration: 80s;
  --_animation-direction: forwards;
}
.skill img {
  height: 70%;
  width: 60%;
}

.scroller {
  max-width: 25vw;
  margin-left: auto;
}

.small-scroller {
  max-width: 25vw !important;
}

.scroller-inner {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    var(--pop-color) 20%,
    var(--pop-color) 80%,
    transparent
  );
  mask: linear-gradient(
    90deg,
    transparent,
    var(--pop-color) 20%,
    var(--pop-color) 80%,
    transparent
  );
}
.scroller[data-animated="true"] .scroller-inner {
  width: -moz-fit-content;
  width: fit-content;
  flex-wrap: nowrap;
  -webkit-animation: scroll var(--_animation-duration, 30s)
    var(--_animation-direction, forwards) linear infinite;
  animation: scroll var(--_animation-duration, 30s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-animated="true"] .scroller-inner:hover {
  animation-play-state: paused;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

@keyframes scroll {
  to {
    -webkit-transform: translate(calc(-50% - 0.5rem));
    -moz-transform: translate(calc(-50% - 0.5rem));
    -ms-transform: translate(calc(-50% - 0.5rem));
    -o-transform: translate(calc(-50% - 0.5rem));
    transform: translate(calc(-50% - 0.5rem));
  }
}

.scroller[animation-speed="faster"] .scroller-inner {
  animation: scroll 10s reverse linear infinite;
  -webkit-animation: scroll 10s reverse linear infinite;
}

@media only screen and (max-width: 768px) {
  .scroller {
    max-width: 70vw !important;
  }
  .scroller-inner {
    gap: 0.5rem;
  }
}
