/* CSS */
/* body */
* {
  box-sizing: border-box;
}

html body {
  margin: 0%;
  padding: 0%;
  width: auto;
  height: auto;
  overflow-x: hidden;
  text-align: center;
  background-color: #222;
}

body {
  background-color: #fff;
  /* change font font-family */
  font-family: "Montserrat";
  /* To hide the Horizontzl Scroll */
}

/* Doted Horizontal Rule */
.hr-1 {
  border-style: dotted none none;
  border-color: rgb(255, 255, 255);
  border-width: 5px;
  height: 0px;
  width: 5%;
  margin-left: auto;
  margin-right: auto;
}
.hr-2 {
  border-style: solid solid solid;
  border-color: rgb(50, 41, 41);
  border-width: 2px;
  height: 0px;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
}
h3 {
  font-weight: bolder;
}
div {
  display: block;
}

/* Navbar */
nav {
  /* background: #53bf9d; */
  background: #222;
}
.navbar-brand {
  position: absolute;
  visibility: hidden;
}
.nav-link {
  color: #fff;
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: gray;
}

.nav-item :hover {
  color: gray;
}

.switch {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 30px;
  width: 30px;
}
.switch :hover {
  color: gray;
}
/* Full View port size */
.autoheight {
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* Message popup */
.callout {
  position: absolute;
  width: 100%;
  top: 50px;

  /* max-width: max-content; */
}

.callout-header {
  padding: 10px 45px;
  background-color: rgb(199, 199, 199);
  font-size: 20px;
  opacity: 0.3;
  color: black;
}

/* Header Section */
#Header {
  height: inherit;
  display: flex;
  padding: 5%;
  justify-content: center;
  align-items: center;
  line-height: 1;
  /* background: #DF7861; */
  /* background: linear-gradient(to bottom, #53bf9d, rgb(226, 146, 224)); */
  background: #222;
  margin: auto;
}

#Header .container-fluid {
  display: inline-block;
  padding-top: 0rem;
}

.img-1 {
  margin-top: 0%;
  margin-bottom: 1rem;
}
.profile_pic {
  height: 12rem;
  border-radius: 100%;
  border: 4px solid white;
}
.hey {
  font-size: 32px;
  font-family: "sacramento";
  color: #fff;
}
.Name {
  position: relative;
  font-family: "sacramento";
  font-size: 450%;
  color: gray;
  font-weight: bolder;
  animation: fade 2s ease-in forwards;
  margin-bottom: 20px;
}

@keyframes fade {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.ShortIntro {
  font-size: 1rem;
  color: #fff;
  font-family: monospace;
}
/* Quote section */

.firstQuote .container-fluid {
  background-color: beige;
  padding: 4rem;
  margin: 0px;
  color: #000;
  text-align: center;
  font-size: 1.3rem;
}

/* About section */

#About {
  color: white;
}

.text_box {
  text-align: left;
  word-spacing: normal;
  height: max-content;
  padding: 2rem 20rem 6rem;
}

.text_box a {
  text-decoration: none;
  color: gray;
}

#About .heading {
  color: gray;
  font-size: clamp(2rem, 5vw, 8rem);
  text-transform: uppercase;
  font-family: "Montserrat";
  letter-spacing: 0.2rem;
  text-align: left;
  position: relative;
  margin-bottom: 2rem;
}
#About .heading::before {
  content: attr(data-outline);
  position: absolute;
  left: 2%;
  top: -20%;
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  font-family: "Montserrat";
  letter-spacing: 0.2rem;
  color: transparent;
  -webkit-text-stroke: 1.5px rgba(233, 223, 223, 0.103);
  /* -webkit-text-stroke: 1.5px #fff; */
  z-index: -1;
}

.btn-1 a {
  text-decoration: none;
  height: inherit;
  /* color: #fff; */
}
.btn-1 {
  background-color: #000;
  color: #fff;
  transition: transform 0.3s ease;
}

.btn-1::after,
.btn-1::before {
  content: "";
  position: absolute;
  opacity: 0.3;
  background-color: #000;
  border-radius: inherit;
  height: 100%;
  width: 100%;
  left: 0px;
  bottom: 0px;
  z-index: -1;
  transition: transform 0.3s ease;
}

.btn:hover {
  color: #fff;
  background-color: #000;
}

.btn-1:hover {
  transform: translate(-6px, -6px);
}

.btn-1:hover::after {
  transform: translate(6px, 6px);
}

.btn-1:hover::before {
  transform: translate(12px, 12px);
}

.btn a {
  color: white;
}

/* Skill section */

.skill-div {
  height: 20rem;
  background-color: beige;
  text-align: left;
  word-spacing: normal;
  padding: 3rem 10rem 6rem;
}
#Skills .skill-div .heading {
  font-size: clamp(2rem, 5vw, 8rem);
  text-transform: uppercase;
  font-family: "Montserrat";
  letter-spacing: 0.2rem;
  text-align: left;
  position: relative;
  margin-bottom: 2rem;
}
#Skills .skill-div .heading::before {
  content: attr(data-outline);
  position: absolute;
  left: 2%;
  top: -20%;
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  font-family: "Montserrat";
  letter-spacing: 0.2rem;
  color: transparent;
  -webkit-text-stroke: 1.5px #0000002f;
  z-index: 0;
}
/* Project Section */
#Projects {
  height: 100vh;
  text-align: left;
  word-spacing: normal;
  padding: 6rem 10rem;
  margin-left: 0%;
  /* background-color: #222; */
}
#Projects .heading {
  color: gray;
  font-size: clamp(2rem, 5vw, 8rem);
  text-transform: uppercase;
  font-family: "Montserrat";
  letter-spacing: 0.2rem;
  text-align: left;
  position: relative;
  margin-bottom: 8rem;
}
#Projects .heading::before {
  content: attr(data-outline);
  position: absolute;
  left: 2%;
  top: -20%;
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  font-family: "Montserrat";
  letter-spacing: 0.2rem;
  color: transparent;
  -webkit-text-stroke: 1.5px rgba(233, 223, 223, 0.103);
  /* -webkit-text-stroke: 1.5px #0000002f; */
  z-index: -1;
}

#Projects .item {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 6rem;
  /* gap: 2rem; */
}
#Projects .item:nth-of-type(even) {
  flex-direction: row-reverse;
}
#Projects .item .left {
  position: relative;
  flex: 1;
}
#Projects .item .right {
  margin-left: -150px;
  flex: 1;
  font-family: "Ubuntu", sans-serif;
  background-color: #333;
  color: #fff;
  padding: 2rem 1rem;
  border-radius: 12px;
  box-shadow: 0px 0px 20px #00000028;
}
#Projects .item:nth-of-type(even) .right {
  margin-left: 0;
}
#Projects .item:nth-of-type(even) .left {
  position: relative;
  z-index: -1;
  margin-left: -150px;
}
#Projects .item .left .img {
  height: 500px;
  overflow: hidden;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 0px 20px #42414638;
  position: relative;
  z-index: -1;
}
#Projects .item .left .img::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #42414638;
}
#Projects .item .left .img img {
  object-fit: cover;
  transition: 0.3s ease transform;
}
#Projects .item:hover .left .img img {
  transform: scale(1.1);
}
#Projects .item .right .project-title {
  font-size: 2.5rem;
  font-family: "Montserrat";
  margin-bottom: 1rem;
}
#Projects .item .right .project-sub-title {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
#Projects .item .right .project-desc {
  color: var(--secondary-gray);
  margin-bottom: 3rem;
}
#Projects .item .right .external-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: calc(0.6em - 4px) calc(1.6em - 4px);
}
#Projects .item .right .external-link svg {
  width: 25px;
}

.buttons .btn {
  position: relative;
  border: 2px solid black;
  background-color: rgb(89, 88, 88);
  color: #fff;
}

.buttons .btn:hover {
  transform: translate(2px, -2px);
  background-color: #000;
  color: white;
}

@media only screen and (max-width: 768px) {
  #Projects .item {
    flex-direction: column;
  }
  #Projects .item .right {
    margin-left: 0;
    width: 90%;
    margin-top: -150px;
  }

  #Projects .item .left {
    width: 80%;
    height: 50%;
  }

  #Projects .item .left .img img {
    object-fit: fill;
    transition: 0.3s ease transform;
  }

  #Projects .item:nth-of-type(even) {
    flex-direction: column;
  }

  #Projects .item:nth-of-type(even) .left {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 450px) {
  #Projects .item .right .buttons {
    flex-direction: column;
  }
  #Projects .item .left .img img {
    object-fit: fill;
    transition: 0.3s ease transform;
  }
}

/* Hobby Section */
#Hobbys {
  /* background-color: rgb(226, 146, 224); */
  margin-top: 0%;
  /* height: 200px; */
  height: 70vh;
  background: beige;
  text-align: left;
  padding: 3rem 10rem 6rem;
}

#Hobbys .heading {
  font-size: clamp(2rem, 5vw, 8rem);
  text-transform: uppercase;
  font-family: "Montserrat";
  letter-spacing: 0.2rem;
  text-align: left;
  position: relative;
  margin-bottom: 2rem;
  z-index: 3;
  color: rgba(0, 0, 0, 0.827);
}
#Hobbys .heading::before {
  content: attr(data-outline);
  position: absolute;
  left: 2%;
  top: -20%;
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  font-family: "Montserrat";
  letter-spacing: 0.2rem;
  color: transparent;
  /* -webkit-text-stroke: 1.5px rgba(0, 0, 0, 0.103); */
  -webkit-text-stroke: 1.5px #0000002f;
  z-index: 1;
}

#Hobbys ul {
  list-style: none;
}
#Hobbys ul li {
  text-decoration: none;
}

/* Contact Section */
#Contact {
  background: #222;
  /* height: calc(100vh - 525px); */
}
#Contact .content {
  height: calc(70vh - 7.5rem);
  background: #222;
}
#Contact .innerdiv {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

#Contact ul {
  position: relative;
  z-index: 1;
  display: flex;
  align-self: flex-end;
  padding: 0%;
}

#Contact ul li {
  position: relative;
  list-style: none;
  margin: 10px;
}
/* Make it more down and center */
#Contact ul li a {
  overflow: hidden;
  position: relative;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: gray;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  transition: trnsform 0.5s ease-in;
}
#Contact ul li a:hover {
  transform: translateY(-10px);
  color: beige;
}
#Contact ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  transform: skewX(45deg) translateX(150px);
  transition: transform 0.5s ease-in;
}
#Contact ul li a:hover::before {
  transform: skewX(45deg) translateX(-150px);
}
#Contact .info {
  display: flex;
  color: gray;
  justify-content: center;
}

/* Navigation Buttons for Android */
.navigation-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  line-height: 1;
}
.navigation-buttons span {
  width: 30px;
  height: 30px;
  margin-top: 6px;
  border-radius: 3px;
  display: block;
  cursor: pointer;
}
.navigation-buttons span.prev {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .navigation-buttons span .next {
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* New Responsive settings */
/* Desktop Responsive */
@media screen and (min-width: 1080px) {
  /* Last div appper in the center */
  /* .column:last-child:nth-child(3n-2) {
    grid-column-end: 3;
  } */
}

/* Tablet respostive */
@media screen and (max-width: 1600px) and (max-height: 1200px) {
  /* Header Section */
  #Header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    text-align: center;
    line-height: 1;
    margin: auto;
  }
  /* About section */
  .text_box {
    text-align: left;
    word-spacing: normal;
    height: max-content;
    padding: 2rem 10rem 6rem;
  }

  /* Project Section */
  #Projects {
    height: max-content;
    text-align: left;
    word-spacing: normal;
    padding: 6rem 10rem;
    margin-left: 0%;
  }
}

/* Android Responsive */
@media screen and (max-width: 768px) {
  /* For Hidden Navbar */
  .navbar {
    visibility: hidden;
    position: absolute;
    width: 100%;
  }
  .hid {
    visibility: hidden;
    position: absolute;
  }
  /* Header Section */
  #Header {
    height: 100vh;
    line-height: 1.5;
  }
  #Header .container-fluid {
    padding-top: 1.5rem;
  }
  .Name {
    font-size: 450%;
  }
  .ShortIntro {
    font-size: 0.7rem;
  }
  /* Quote Section */
  .firstQuote .container-fluid {
    padding: 2rem 2rem;
    font-size: 1rem;
  }

  /* About section */
  .text_box {
    text-align: left;
    word-spacing: normal;
    padding: 6rem 2rem;
  }
  /* Skill section */

  .skill-div {
    height: 20rem;
    background-color: beige;
    text-align: left;
    word-spacing: normal;
    padding: 6rem 2rem;
  }

  /* Project Section */
  #Projects {
    height: max-content;
    text-align: left;
    word-spacing: normal;
    padding: 6rem 2rem;
    margin-left: 0%;
  }

  #Hobbys {
    padding: 6rem 2rem;
  }

  /* Navigation Buttons */
  .navigation-buttons {
    display: none;
  }

  /* Message popup */
  .callout {
    /* display: none; */
    position: absolute;
    width: 100%;
    top: 10px;
  }

  .callout-header {
    padding: 5px 10px;
    background-color: rgb(199, 199, 199);
    font-size: 15px;
    opacity: 0.3;
    color: rgb(0, 0, 0);
  }
}

/* Resposive Settings */

@media screen and (max-width: 400px) {

 /* For Hidden Navbar */
  .navbar {
    visibility: hidden;
    position: absolute;
    width: 100%;
  }
  .hid {
    visibility: hidden;
    position: absolute;
  }

  /* Message popup */
  .callout-header {
    display: none;
  }
}

/* CSS Special Styling */
@media screen and (min-width: 1080px) {
  #CursorMeter {
    position: fixed;
    width: 200px;
    height: 35px;
    /* background: yellow; */
    top: 0;
    pointer-events: none;
    z-index: 10000;
  }
  #scrollPath {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: #333;
  }
  #progressBar {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
  }

  #progressBar::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    /* width: 100%; */
    height: 100%;
    background: linear-gradient(to left, #008aff, #00ffe7);
    filter: blur(10px);
  }
  #progressBar::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #008aff, #00ffe7);
    filter: blur(30px);
  }
  @keyframes animate {
    0%,
    100% {
      filter: hue-rotate(0deg);
    }
    50% {
      filter: hue-rotate(360deg);
    }
  }

  #persent {
    position: absolute;
    top: 10px;
    left: 0;
    color: #fff;
    font-size: 0.5rem;
    padding: 2px 5px;
    background: #fff;
    color: #333;
  }
}

@media (max-width: 900px) {
  .autoheight {
    height: max-content;
  }
}
