/* CSS */
/* body */

:root {
  --font-color: beige;
  --pop-color: #ffdd7e;
  --headingcolor: #ffdd7e;
  --background-col: #222;
}
::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}
div {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: var(--background-col);
  text-align: center;
  color: white;
  font-family: "Montserrat";
}

/* Doted Horizontal Rule */
.hr-1 {
  border-style: dotted none none;
  border-width: 0.313rem;
  height: 0rem;
  width: 5%;
  margin-left: auto;
  margin-right: auto;
  border-color: var(--pop-color);
}

.hr-2 {
  border-style: solid none repeat;
  border-color: var(--pop-color);
  border-width: 4px;
  width: 100%;
}

h3 {
  font-weight: bolder;
}
div {
  display: block;
}

/* Navbar */
nav {
  background: var(--background-col);
}
.navbar {
  padding: 5px;
}
a.navbar-brand {
  margin-right: 0px;
}
.navbar-brand .resize {
  height: 40px;
  width: 40px;
  margin: 0px;
}
.nav-link {
  color: #fff;
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: gray;
  color: var(--pop-color);
}
.nav-item :hover {
  color: gray;
  text-decoration: underline;
}
.navbar-toggler {
  color: var(--pop-color);
}
.down {
  position: absolute;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 40px;
  width: 45px;
  font-size: 1.5rem !important;
  border: 2px solid var(--pop-color);
  border-radius: 30px;
  padding: 10px;
}
.down a {
  color: var(--pop-color);
  text-decoration: none;
}
.down :hover {
  color: gray;
}
/* Full View port size */
.autoheight {
  height: calc(100vh - 50px);
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .autoheight {
    height: max-content;
  }
}

/* Navbar section end */
/* Message popup */
.callout {
  width: 100%;
  position: relative;
  margin: 1% 0% 3% 0%;
}

.callout-header {
  width: 100%;
  position: absolute;
  top: 50px;
  padding: 10px 50px;
  background-color: rgba(199, 199, 199, 0.3);
  font-size: 20px;
  color: black;
}

.callout-header a {
  text-decoration: none;
  color: rgba(225, 221, 126, 0.7);
  font-weight: bolder;
}
/* Message Popout end */
/* Header Section */

#Header .container-fluid {
  height: 100vh;
  background: var(--background-col);
  display: inline-block;
  padding-top: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  text-align: center;
  line-height: 1;
  flex-direction: column;
}

.img-1 {
  margin-top: 0%;
  margin-bottom: 1rem;
}
.profile_pic {
  height: 12rem;
  border-radius: 100%;
  border: 4px solid var(--pop-color);
}
.hey {
  font-size: 32px;
  font-family: "sacramento";
  color: #fff;
}
.Name {
  position: relative;
  font-family: "sacramento", sans-serif;
  font-size: 550%;
  /* color: gray; */
  color: #ffdd7e;
  font-weight: bold;
  animation: fade 2s ease-in forwards;
  margin-bottom: 20px;
}
/* !check */
@keyframes fade {
  0% {
    opacity: 5%;
  }
  100% {
    opacity: 100%;
  }
}

.ShortIntro {
  font-size: clamp(1.2rem, 1.5rem, 2rem);
  word-spacing: 5px;
  color: #fff;
  font-family: "Ubuntu", "sacramento", monospace, sans-serif;
}

/* Hader section end */

/* Quote section */
.firstQuote .container-fluid {
  background-color: var(--pop-color);
  padding: 8rem clamp(20rem, 20vw, 30rem);
  margin: 0px;
  background: url(https://images.unsplash.com/photo-1536514498073-50e69d39c6cf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80);
  color: black;
  background-position: 0;
  text-align: center;
  font-size: clamp(2rem, 1.4vw, 5rem);
  letter-spacing: 0.5px;
  font-weight: normal;
  font-family: "Lobster", sans-serif;
  height: clamp(min-content, 40vh, 50vh);
}
.firstQuote cite {
  font-size: clamp(2rem, 2vw, 5rem);
}

.q1 {
  position: absolute;
  left: 5%;
  top: -5vw;
  height: 13vw;
}
.q2 {
  position: absolute;
  right: 5%;
  bottom: -5vw;
  height: 13vw;
}

/* Quote section end */

/* About section */


#About .text_box {
  height: 100vh;
  display: flex;
  text-align: justify;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  word-spacing: normal;
  padding: clamp(6rem, 5vw, 8rem) clamp(2rem, 10vw, 10rem);
  font-size: clamp(0.8rem, 1.1vw, 4rem);
}

.text_box strong {
  color: var(--pop-color);
  margin-left: 4px;
}
.text_box a {
  text-decoration: none;
  color: #ffdd7e;
}
.text_box .subheading {
  font-size: 6rem;
  color: #ffdd7e;
}

#About .heading {
  /* color: gray; */
  color: var(--headingcolor);
  font-size: clamp(5rem, 10vw, 10rem);
  /* Resposive font size  */
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.3rem;
  text-align: left;
  position: relative;
  margin-bottom: 2rem;
}
#About .heading::before {
  content: attr(data-outline);
  position: absolute;
  left: 2%;
  top: -20%;
  width: 100%;
  text-align: left;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  font-family: "Montserrat";
  letter-spacing: 0.2rem;
  color: transparent;
  -webkit-text-stroke: 1.5px rgba(233, 223, 223, 0.103);
  /* -webkit-text-stroke: 1.5px #fff; */
  z-index: 0;
}
.btn-1 a {
  text-decoration: none;
  height: inherit;
  /* color: #fff; */
}
.btn-1 {
  background-color: #000;
  transition: transform 0.3s ease;
  position: relative;
  color: #ffdd7e;
}
.btn-1::after,
.btn-1::before {
  content: "";
  position: absolute;
  opacity: 0.3;
  background-color: #000;
  border-radius: inherit;
  height: 100%;
  width: 100%;
  left: 0px;
  bottom: 0px;
  z-index: -1;
  transition: transform 0.3s ease;
}
.btn:hover {
  color: #fff;
  background-color: #000;
}
.btn-1:hover {
  transform: translate(-6px, -6px);
}
.btn-1:hover::after {
  transform: translate(6px, 6px);
}
.btn-1:hover::before {
  transform: translate(12px, 12px);
}

/* Achievements section start */

#Achievements .heading {
  color: var(--headingcolor);
  font-size: clamp(2rem, 8vw, 10rem);
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.3rem;
  text-align: center;
  position: relative;
  margin-bottom: 2rem;
}
#Achievements .heading::before {
  content: attr(data-outline);
  position: absolute;
  left: 2%;
  top: -20%;
  width: 100%;
  text-align: center;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  font-family: "Montserrat";
  letter-spacing: 0.2rem;
  color: transparent;
  -webkit-text-stroke: 1.5px rgba(233, 223, 223, 0.103);
  /* -webkit-text-stroke: 1.5px #fff; */
  z-index: 0;
}

#Achievements .text_box {
  text-align: left;
  word-spacing: normal;
  height: 100vh;
  padding: clamp(6rem, 5vw, 8rem) clamp(2rem, 10vw, 10rem);
  font-size: clamp(0.8rem, 1.1vw, 4rem);
}

/* Achievement section end */
/* Skill section */

.skill-div {
  height: max-content;
  background-color: #ffdd7e;
  color: black;
  text-align: left;
  word-spacing: normal;
  padding: clamp(6rem, 5vw, 8rem) clamp(2rem, 10vw, 10rem);
}
#Skills .heading {
  font-size: clamp(5rem, 10vw, 10rem);
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.3rem;
  text-align: right;
  position: relative;
  margin-bottom: 2rem;
  color: #333;
}
#Skills .heading::before {
  content: attr(data-outline);
  position: absolute;
  width: 100%;
  left: 2%;
  top: -20%;
  text-align: right;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  font-family: "Montserrat";
  letter-spacing: 0.2rem;
  color: transparent;
  -webkit-text-stroke: 1.5px #0000002f;
  z-index: 0;
}
#Skills .skill:hover {
  background-color: var(--background-col);
  color: var(--pop-color);
  z-index: 10;
}

#Skills .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Skills .content .skill {
  display: inline-block;
  width: 40%;
  border: 2px solid var(--background-col);
  border-radius: 26px;
  text-align: center;
  margin: 0px 0px 10px;
  padding: 2%;
  cursor: pointer;
  font-size: clamp(10px, 80%, 2rem);
  border: 0.4vw solid black;
}

/* Project Section */
#Projects {
  height: max-content;
  text-align: center;
  word-spacing: normal;
  padding: clamp(8rem, 5vw, 20rem) clamp(2rem, 10vw, 10rem);
  margin-left: 0%;
}
#Projects .heading {
  color: #ffdd7e;
  font-size: clamp(4rem, 8vw, 10rem);
  text-transform: uppercase;
  font-family: "Montserrat";
  letter-spacing: 0.3rem;
  text-align: center;
  position: relative;
  margin-bottom: 10rem auto 4rem;
}
#Projects .heading::before {
  content: attr(data-outline);
  position: absolute;
  left: 2%;
  top: -20%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat";
  letter-spacing: 0.4rem;
  color: transparent;
  -webkit-text-stroke: 1.5px rgba(233, 223, 223, 0.103);
  /* -webkit-text-stroke: 1.5px #0000002f; */
  z-index: index 0;
}

#Projects .item {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 6rem;
}
#Projects .item:nth-of-type(even) {
  flex-direction: row-reverse;
}
#Projects .item .left {
  position: relative;
  flex: 1;
}
#Projects .item .right {
  margin-left: -150px;
  flex: 1;
  font-family: "Ubuntu", sans-serif;
  background-color: #333;
  color: #fff;
  padding: 2rem 1rem;
  border-radius: 12px;
  box-shadow: 0px 0px 20px #f8f6f668;
}
#Projects .item:nth-of-type(even) .right {
  margin-left: 0;
}
#Projects .item:nth-of-type(even) .left {
  position: relative;
  z-index: -1;
  margin-left: -150px;
}
#Projects .item .left .img {
  height: 500px;
  overflow: hidden;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 0px 20px #42414638;
  position: relative;
  z-index: -1;
}
#Projects .item .left .img::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #42414638;
}
#Projects .item .left .img img {
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease transform;
}
#Projects .item:hover .left .img img {
  /* transform: scale(1.1); */
  transform: translate(-50%, -50%);
}
#Projects .item .right .project-title {
  font-size: 2.5rem;
  font-weight: bolder;
  font-family: "Montserrat";
  color: #ffdd7e;
  text-shadow: 2px 2px 4px var(--background-col);
  margin-bottom: 1rem;
}

#Projects .item .right .project-sub-title {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
#Projects .item .right .project-desc {
  color: var(--secondary-gray);
  margin-bottom: 3rem;
}
#Projects .item .right .external-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: calc(0.6em - 4px) calc(1.6em - 4px);
}
#Projects .item .right .external-link svg {
  width: 25px;
}

.project-section-details {
  border: 2px solid var(--pop-color);
  border-radius: 25px;
}

.buttons .btn {
  position: relative;
  border: 2px solid black;
  background-color: #ffdd7e;
  color: var(--background-col);
  margin-right: 5px;
}

.buttons .btn:hover {
  transform: translate(2px, -4px);
  background-color: #000;
  color: var(--font-color);
}

.innerSection {
  text-align: center;
  color: var(--pop-color);
  margin: 6rem 0rem 10rem;
}
.innerSection li {
  padding: 1rem 0.2rem;
  color: #fff;
  text-align: left;
}
.innerSection ul li {
  list-style: circle;
}
.innerSection .btn {
  background-color: var(--pop-color);
  border-color: black;
  color: black;
  font-weight: bolder;
}
.innerSection .btn:hover {
  color: #fff;
  background-color: black;
  border: 2px solid var(--pop-color);
  margin-bottom: 0px;
}

.innerSection .item {
  text-align: left;
}

#Projects p {
  color: white;
}

@media only screen and (max-width: 768px) {
  #Skills .content {
    padding-right: 0rem;
  }
  #Projects .item {
    flex-direction: column;
  }
  #Projects .item .right {
    margin-left: 0;
    width: 90%;
    margin-top: -150px;
  }

  #Projects .item .left {
    width: 80%;
    height: 100%;
  }

  #Projects .item .left .img img {
    object-fit: cover;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease transform;
  }

  #Projects .item:nth-of-type(even) {
    flex-direction: column;
  }

  #Projects .item:nth-of-type(even) .left {
    margin-left: 0px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 450px) {
  #Projects .item .left .img img {
    object-fit: fill;
    transition: 0.3s ease transform;
  }
}

/* Hobby Section */
#Hobbys {
  overflow: hidden;
  margin-top: 0%;
  background: #ffdd7e;
  text-align: left;
  padding: 3rem 10rem 6rem;
  color: black;
}

#Hobbys .container-fluid {
  background-color: var(--pop-color);
}

#Hobbys .heading {
  font-size: clamp(2rem, 6vw, 10rem);
  text-transform: uppercase;
  font-family: "Montserrat";
  letter-spacing: 0.2rem;
  text-align: right;
  position: relative;
  z-index: 3;
  color: rgba(0, 0, 0, 0.827);
}
#Hobbys .heading::before {
  content: attr(data-outline);
  width: 100%;
  position: absolute;
  left: 2%;
  top: -10%;
  text-align: right;
  text-transform: uppercase;
  font-family: "Montserrat";
  letter-spacing: 0.2rem;
  color: transparent;
  /* -webkit-text-stroke: 1.5px rgba(0, 0, 0, 0.103); */
  -webkit-text-stroke: 1.5px #0000002f;
  z-index: 1;
}
#Hobbys .heading :last-child {
  margin-bottom: 4rem;
}
#Hobbys .con {
  display: flex;
  justify-content: center;
  align-items: center;
}

#Hobbys .hobby {
  display: inline-block;
  color: var(--pop-color);
  background-color: var(--background-col);
  border: 5px solid rgb(7, 4, 4);
  border-radius: 50px;
  text-align: center;
  margin: 0px 10px;
  padding: 20px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-text {
  font-size: 1.4rem;
  padding: clamp(2rem, 4vw ,8rem);
  font-weight: bolder;
}

.sub-texts {
  margin-bottom: 1rem;
}

/* Contact Section */
#Contact {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}

#Contact .content {
  height: max-content;
}
#contact_box {
  width: 50rem;
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
}

#contact_box .right {
  height: 25rem;
  width: 35rem;
  color: white;
  border-radius: 10px;
  border: 2px solid white;
  background: var(--background-col);
  padding: 60px;
  display: flex;
  text-align: justify;
  justify-content: center;
  flex-direction: column;
}

#contact_box .right h1 {
  letter-spacing: 1px;
  font-weight: lighter;
  font-family: "Lobster", sans-serif;
}
#contact_box .right h1 {
  margin-bottom: 0.5rem;
}

#contact_box .right a {
  text-decoration: none;
  margin-bottom: 5px;
}

#Contact .innerdiv {
  display: flex;
  align-items: center;
  padding: 10px;
}

#Contact ul {
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 0px !important;
}

#Contact ul li {
  position: relative;
  list-style: none;
  margin-right: 5px;
  margin-left: 5px;
}
#Contact ul li a {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 50px;
  height: 50px;
  color: white;
  display: inline-block;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
  border: 1px solid rgba(6, 5, 5, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(-10px);
  -webkit-backdrop-filter: blur(10px);
  transition: trnsform 0.5s ease-in;
}

#Contact ul li a:hover {
  transform: translateY(-10px);
}
#Contact ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  transform: skewX(45deg) translateX(150px);
  transition: transform 0.5s ease-in;
}
#Contact ul li a:hover::before {
  transform: skewX(45deg) translateX(-150px);
}

#Contact .info {
  color: white;
}

/* Navigation Buttons for Android */
.navigation-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  line-height: 1;
}
.navigation-buttons span {
  width: 30px;
  height: 30px;
  margin-top: 6px;
  border-radius: 3px;
  display: block;
  cursor: pointer;
}
.navigation-buttons span.prev {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .navigation-buttons span .next {
  background: var(--background-col);
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* New Responsive settings */
/* Desktop Responsive */

/* Bigscreen respostive */
@media only screen and (max-width: 1600px) and (min-width: 1081px) {
  .callout-header {
    margin-top: 10px;
  }
  /* Quote Section */
  .firstQuote .container-fluid {
    font-size: 2rem;
  }
  /* Header Section */
  #Header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    text-align: center;
    line-height: 1;
    margin: auto;
  }
  /* About section */
  .text_box {
    text-align: left;
    word-spacing: normal;
    height: max-content;
    padding: 6rem 8rem;
  }

  /* Project Section */
  #Projects {
    height: max-content;
    text-align: center;
    word-spacing: normal;
    padding: 6rem 8rem;
    margin-left: 0%;
  }
  .innerSection {
    margin: 8rem;
  }
}

/* Tablet Responsive */
@media only screen and (max-width: 770px) {
  /* Header Section */
  #Header {
    height: 100vh;
    line-height: 1.5;
  }
  #Header .container-fluid {
    padding-top: 1.5rem;
  }
  .Name {
    font-size: 450%;
  }
  .ShortIntro {
    padding: 0px;
    font-size: clamp(1rem, 3vw, 3rem);
  }
  /* Quote Section */

  .firstQuote .container-fluid {
    padding: 4rem clamp(8rem, 20vw, 30rem);
  }


  /* About section */
  .text_box {
    word-spacing: normal;
    padding: 4rem 4rem;
  }

  /* Skill section */
  #Skills .heading {
    text-align: center;
  }
  #Skills .heading::before {
    text-align: center;
  }
  #Skills .skill-div {
    text-align: center;
    word-spacing: normal;
    padding: 2rem 1.5rem;
  }

  #Skills .content {
    padding-right: 0px;
  }
  /* Project Section */
  #Projects {
    height: max-content;
    text-align: center;
    word-spacing: normal;
    padding: 6rem 4rem;
    margin-left: 0%;
  }
  .project-section-details {
    border-radius: 5px;
  }
  .innerSection {
    margin: 0px;
    margin-bottom: 2rem;
    border-radius: 5px;
  }
  .innerSection ul {
    padding: 5px;
    font-size: 0.8rem;
  }
  .innerSection ul li {
    list-style: none;
    padding-bottom: 0px;
  }
  /* Hobbys Section */
  #Hobbys {
    padding: 5rem 10px;
  }
  #Hobbys .heading {
    z-index: 0;
    text-align: left;
    font-size: 4rem !important;
  }
  #Hobbys .inner-text {
    padding: 2rem 1rem;
    font-size: 1.1rem;
  }
  #Hobbys .heading::before {
    text-align: left;
  }
  #Hobbys .hobby {
    padding: 10px;
    font-size: 1.2rem;
    margin-bottom: 0px;
  }
}

/* Small Screen Responsive */
@media only screen and (max-width: 450px) {
  .down {
    right: 30%;
    height: 40px;
    width: 40%;
    background-color: var(--background-col);
  }
  /* Message popup */
  .callout-header {
    display: none;
  }

  /* Header Section */
  #Header {
    height: 100vh;
    line-height: 1.5;
  }
  #Header .container-fluid {
    padding-top: 1.5rem;
  }
  .hey {
    font-size: 150%;
  }
  .Name {
    font-size: 350%;
  }
  #Header .container-fluid {
    padding: 0%;
  }

  /* Quote Section */
  .firstQuote .container-fluid {
    height: max-content;
    padding: 4rem 2rem;
    font-size: 1rem;
  }

  /* About section */
  .text_box {
    height: ;
    word-spacing: normal;
    padding: 4rem 1rem;
    font-size: 0.8rem;
  }
  /* About section */
  .heading {
    font-size: 3rem !important;
  }

  #Achievements .heading {
    font-size: 1.7rem !important;
  }

  /* Skill section */

  #Skills .content .skill {
    padding: 5px;
    border-radius: 10px;
  }
  /* Project Section */
  #Projects {
    height: max-content;
    text-align: left;
    word-spacing: normal;
    padding: 4rem 10px;
    margin-left: 0%;
  }
  .project-section-details {
    border-radius: 5px;
  }
  .innerSection {
    margin: 0px;
    margin-bottom: 2rem;
    border-radius: 5px;
  }
  .innerSection ul {
    padding: 5px;
    font-size: 0.8rem;
  }
  .innerSection ul li {
    list-style: none;
    padding-bottom: 0px;
  }

  /* !Hide Project item images in mobile view*/

  /* Hobbys Section */

  #Hobbys {
    padding: 5rem 10px;
  }
  #Hobbys .heading {
    z-index: 0;
    text-align: left;
    font-size: 2rem !important;
  }
  #Hobbys .inner-text {
    padding: 20px 0px;
    font-size: 0.8rem;
  }
  #Hobbys .heading::before {
    text-align: left;
  }
  #Hobbys .hobby {
    padding: 10px;
    font-size: 1.2rem;
    margin-bottom: 0px;
  }

  /* Contact Section */

  #Contact .content {
    height: max-content;
  }
  #contact_box {
    /* width: 100vw; */
    margin-bottom: 0rem;
  }

  #contact_box .right {
    width: 80vw;
    height: max-content;
    padding: 15px;
    font-size: 10px;
  }
  #Contact .innerdiv {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #contact_box .right h1 {
    text-align: left;
    font-size: 1.5rem;
  }
  #Contact ul li a {
    width: max-content;
    height: max-content;
    padding: 5px;
    border-radius: 50px;
  }

  #Contact .info {
    font-size: 10px;
  }

  /* !Don't Know if need */
  /* .callout-header {
    padding: 5px 10px;
    background-color: rgba(199, 199, 199, 0.3);
    font-size: 15px;
    color: rgb(0, 0, 0);
  } */

  /* Contact Section */

  /* Navigation Buttons */
  /*.navigation-buttons {
    display: none;
  }

  .text_box .subheading {
    font-size: 2rem;
    color: #ffdd7e;
  } */
}
