/* CSS */
/* body */
body {
  background-color: #fff;
  /* change font font-family */
  text-align: center;
}

/* Doted Horizontal Rule */
hr {
  border-style: dotted none none;
  border-color: rgb(240, 240, 240);
  border-width: 4px;
  height: 0px;
  width: 5%;
}

/* Header Section */

#Header .container-fluid {
  height: 40em;
  /* negative margin is used to make expand the header section and fill while background */
  text-align: center;
  line-height: 1;
  background-color: #53bf9d;
}
.name-div {
  padding: 5%;
}

.img-1 {
  padding: 20px 2rem 50px;
}
.profile_pic {
  height: 12rem;
  border-radius: 100%;
}
.hey {
  font-size: 2rem;
  font-family: "sacramento";
}
.Name {
  font-family: "sacramento";
  font-size: 4rem;
  color: #fff;
}

.ShortIntro {
  font-size: 15px;
  font-family: monospace;
}
/* Quote section */

.firstQuote {
  display: block;
  padding: 50px 5px 50px;
  margin: auto;
  color: #000;
  text-align: center;
  font-size: 1.5rem;
}

/* About section */
#About .container-fluid {
  height: 40rem;
  color: #fff;
  background-color: #125b50;
  position: relative;
}
.text_box {
  padding: 6em;
}

/* Android Responsive */
@media (max-width: 530px) and (min-width: 0px) {
  .firstQuote {
    padding: 30px 10px;
    font-size: 1rem;
  }
}
