/* imports */
@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Amatic+SC:wght@400;700&family=Caveat:wght@400;500;600&family=Fredericka+the+Great&family=Gloria+Hallelujah&family=Handjet:wght@100;200&family=Indie+Flower&family=Lobster&family=Merriweather&family=Merriweather+Sans&family=Montserrat&family=New+Tegomin&family=Noto+Color+Emoji&family=Noto+Sans+Bengali:wght@100;200;300&family=Noto+Serif+Devanagari:wght@200;300;400&family=Noto+Serif+JP:wght@300;400;500&family=Noto+Serif+KR:wght@400;500;600&family=Open+Sans&family=Orbitron:wght@400;700;900&family=Sacramento&family=Ubuntu:ital@1&family=Zeyada&display=swap");
/* 
Fredericka the Great
New Tegomin
Montserrat
Merriweather
Lobster
Indie Flower
Handjet
Amatic SC
Alkatra
*/
@import "./Navbar.css";
@import "./Header.css";
@import "./About.css";
@import "./special-effects.css";
@import "./Projects.css";
@import "./contact.css";
:root {
  /* Light Mode Colors */
  --font-color: white;
  --pop-color: #ffdd7e;
  --second-pop-color: red;
  --heading-color: #eeebdd;
  --header-background-color: linear-gradient(
    13deg,
    #0f0e0e 27%,
    rgba(148, 44, 31, 0.784) 99%
  );
  --background-color: #0f0e0e;
  --shadow-color: rgba(255, 255, 255, 0.103);
  --skill-background-color: black;

  /* Dark Mode colors */
  --dark-font-color: white;
  --dark-pop-color: #ebef95;
  --dark-second-pop-color: #ee046c;
  --dark-heading-color: white;
  --dark-header-background-color: rgb(186, 73, 73);
  --dark-background-color: rgb(186, 73, 73);
  --dark-shadow-color: rgba(255, 255, 255, 0.1);
  /* Font Family */
  --heading-font-family: "caveat", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}
div {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  background: var(--background-color);
  text-align: center;
  color: var(--font-color);
  font-family: "New Tegomin";
  position: relative;
}

a {
  color: var(--font-color);
}
a:hover {
  color: papayawhip;
}

.relative {
  position: relative;
}
.text-gray {
  color: rgb(105, 103, 103) !important;
}

.section-breaker {
  border-style: solid none none;
  border-width: 0.3rem;
  border-radius: 50px;
  height: 0rem;
  width: 86%;
  margin: auto;
  border-color: gray;
  background: black;
  position: relative;
  bottom: -2.5px;
}

h3 {
  font-weight: bolder;
}
div {
  display: block;
}

.font-Amatic {
  font-family: "Amatic SC";
  color: gray;
  letter-spacing: 2px;
  font-weight: bolder;
}

/* Global Classes */

/* Buttons */
.fixed-button {
  position: fixed;
  z-index: 999;
  padding: 10px 15px !important;
  font-size: 2rem;
  background: transparent;
  color: var(--pop-color);
  bottom: 10px;
  /* text-shadow: -1px 1px 5px var(--inverse-font-color); */
}

.fixed-button:hover {
  background: transparent !important;
  border: none !important;
}

/* Toggle Button */
.theme-button {
  right: 20px;
}

/* New Responsive settings */
/* Desktop Responsive */
