/* CSS */
/* body */
html {
  margin: 0%;
  padding: 0%;
  width: auto;
  height: auto;
  overflow-x: hidden;
}

body {
  background-color: #fff;
  /* change font font-family */
  font-family: "Montserrat";
  /* To hide the Horizontzl Scroll */
  margin: 0%;
  padding: 0%;
  width: auto;
  height: auto;
  overflow-x: hidden;
}

/* Doted Horizontal Rule */
.hr1 {
  border-style: dotted none none;
  border-color: rgb(255, 255, 255);
  border-width: 5px;
  height: 0px;
  width: 5%;
  margin-left: auto;
  margin-right: auto;
}

/* Navbar */
nav {
  background-color: #53bf9d;
}
/* Header Section */

#Header {
  padding: 7%;
  height: 400%;
  padding-bottom: 10%;
  /* negative margin is used to make expand the header section and fill while background */
  text-align: center;
  line-height: 1;
  background-color: #53bf9d;
  margin: auto;
}

.img-1 {
  margin-right: auto;
  margin-left: auto;
  margin-top: 1%;
  margin-bottom: 3%;
}
.profile_pic {
  height: 12rem;
  border-radius: 100%;
}
.hey {
  font-size: 32px;
  font-family: "sacramento";
}
.Name {
  font-family: "sacramento";
  font-size: 450%;
  color: #fff;
}

.ShortIntro {
  font-size: 1rem;
  font-family: monospace;
}
/* Quote section */

.firstQuote .container-fluid {
  background-color: beige;
  padding: 4rem 4rem;
  margin: 0px;
  color: #000;
  text-align: center;
  font-size: 1.3rem;
}

/* About section */
.text_box {
  padding: 6em;
}

/* Skill section */
.skill-div {
  height: 20rem;
  background-color: #53bf9d;
}

/* Android Responsive */
@media (max-width: 530px) and (min-width: 0px) {
  /* .firstQuote {
    padding: 0px 0px;
    font-size: 0.2rem;
  } */
  .firstQuote .container-fluid{
    padding: 2rem 2rem;
    font-size: 1rem;
  }
  .text_box {
    padding: 2em;
    height: max-content;
  }
  .Name {
    font-size: 350%;
  }
  .ShortIntro {
    font-size: 0.7rem;
  }
}
